## Pandas basics
- Basic pandas commands - head, tail, info, describe, columns and index
- Creating a series - and basic commands
- Creating a reduced dataframe from a dataframe
- Using iloc to create a series
- Using iloc to create a new dataframe

### Import pandas and read a data csv file

In [ ]:
import pandas as pd

df = pd.read_csv("orders.csv")

### Some basic panda commands

In [ ]:
df # shows the dataframe

In [ ]:
df.head() # shows the dataframe's first 5 rows

In [ ]:
df.tail() # shows the dataframe's last 5 rows

In [ ]:
df.info() # shows the dataframe's basic information such as column types and number of entries

In [ ]:
df.describe() # shows some stats about the dataframe such as min, max and mean quantities for numeric columns

In [ ]:
df.columns # shows dataframe's column headings - NOTE there were no parentheses - no function call

In [ ]:
df.index # shows dataframe's index start, end and interval (step) - NOTE there were no parentheses - no function call

### Use pandas to create a series (column)

In [ ]:
countries = df["Country"] # Indexes the countries in the dataframe

In [ ]:
countries # displays the countries series (column)

In [ ]:
len(countries) # gives the number of countries entries - total, not unique

In [ ]:
uniqco = set(countries) # creates a set of countries - uniques values

In [ ]:
uniqco # displays the countries set

In [ ]:
len(uniqco) # gives the number of unique countries in the countries column

Create a new dataframe with specific data from the original dataframe

In [ ]:
df2 = df[["Country", "Product", "Category"]]

In [ ]:
df2

### Create a new series based on a row using iloc (integer location)

In [ ]:
df_row0 = df.iloc[0] # creates new series from the data in row with index (integer location of dataframe) 0
df_row10 = df.iloc[10] # creates new series from the data in row with index (integer location of dataframe) 10

In [ ]:
df_row0 # displays the new series - could equally have displayed df_row10

In [ ]:
df_row0["CustomerName"] # Displays the "CustomerName" property value from df_row0

In [ ]:
df.iloc[0]["CustomerName"] # Same as above but directly on the df value using iloc()

In [ ]:
df_row0[1] # deprecated! - displays index 1 value of df_row[1]

In [ ]:
df.iloc[0][1] # deprecated! - same as above but directly on the df value using iloc()

In [ ]:
list(df_row0) # creates a list from the df_row0 series data

In [ ]:
dict(df_row0) # creates a dictionary from the df_row0 series data

### Create a new dataframe based on multiple rows using iloc (integer location)

In [ ]:
df_rows_0_2 = df.iloc[0:3] # creates new dataframe from the data in row3 with index (integer location of dataframe) 0 to 3 EXCLUSIVE, i.e. 0 to 2

In [ ]:
df_rows_0_2